*{
    margin:0;
    padding:0;
  }
  
body{
  background-color: #fae7ef;
}

  header{
    border-bottom: 1px solid #F27EB3;
    height: 12vh;
    display:flex;
    margin-top: 1vw;
  }
  
  #logo{
    width: 30vw;
    height: 10vh;
  }
  
  #logo img{
    height: 13vh;
  }

  h3{
  color: #F27EB3;
  font-size: 2vw;
  margin-left: 20% ;
  font-family: fantasy;
  display: inline;
  }

  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #F27EB3;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #F27EB3;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }  

  #iconsContainer {
    color: #F27EB3;
    font-size: 24px;
  }

  #btn-close-modal{
    color: #F27EB3;
  }

  #btn-save-note{
    color: #F27EB3;
  }

  #add-note{
    color: #F27EB3;
  }
