*{
    margin:0;
    padding:0;
  }
  
body{
  background-color: #fae7ef;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

#logo img {
  max-width: 100px;
  height: auto;
}

h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #F27EB3;
}

  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #F27EB3;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
   
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #F27EB3;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }  

  #btn-close-modal{
    color: #F27EB3;
  }

  #btn-save-note{
    color: #F27EB3;
  }

  #add-note{
    color: #F27EB3;
  }
